<template>
  <div class="login">
    <h2>{{index}}</h2>
    <button @click="add">+10</button>
  </div>
</template>

<script setup>
import {ref} from 'vue'
let index = ref(0)
function add(){
    index.value+=10
}
</script>

<style lang="less" scoped>
.login{
    h2{
      margin-right: 10px;
    }
    display: flex;
}
</style>