<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue3</title>
</head>

<body>
  <div id="app"></div>
  <%% if(process.env.NODE_ENV==="production" ) {%>
    <!-- 生产环境使用cdn，相应的import的在webpack的生产环境配置内已经没有打包了打包 -->
    <% if (tool.Vue) { %> <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.min.js"></script> <% } %>
    <% if (tool.router) { %> <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue-router/4.0.13/vue-router.global.min.js"></script> <% } %>
    <% if (tool.Element_Plus) { %> <script crossorigin="anonymous"
      integrity="sha512-hVnUEMQul2uOma5rDKMceMc47NTZxR9K/TVbOcO7W3/+NVkbD5jGcP3nfM430f4fDRWqELLkuQRExOz0s7d3kA=="
      src="https://lib.baomitu.com/element-plus/1.0.2-beta.71/index.full.min.js"></script> <% } %>
      <% if (tool.Dayjs) { %> <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script> <% } %>
      <% if (tool.axios) { %> <script src="https://cdn.staticfile.org/axios/1.2.3/axios.min.js"></script> <% } %>
      <% if (tool.Lodash) { %> <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/lodash.js/4.17.21/lodash.min.js"></script> <% } %>
      <% if (tool.normalize_css) { %> <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/normalize/8.0.1/normalize.min.css"></script> <% } %>
    <%% } %>

</body>
</html>